<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="manifest" href="manifest.webmanifest">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="KuraSu is a live group chat which is still under maintainance. If you are reading this then you are
    looking at Alpha
    version of KuraSu. KuraSu offers/will offer faster chatting rooms in different environment. You will
    be able to set your own theme
    using a config file provided by us. There are many more featutre which are still in pending. Hope
    you will like it.
                                  ">
    <meta name="keywords" content="Live, Chat, Faster Chat, Group chat, Global Chat">
    <link rel="icon" href="/Kurakani-logo.png">
    <meta property="og:image" content="https://i.ibb.co/cxj9GbS/Kurakani-logo.png" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image:alt" content="KuraKani-Logo" />

    <title>KuraSu-LiveChat</title>
    <link rel="stylesheet" href="/css/original-theme-main.css">
    <link rel="stylesheet" href="/css/mobile-original-main.css">

    <link rel="stylesheet" href="/css/emojionearea.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cuid/1.3.8/browser-cuid.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/anime.min.js"></script>


</head>

<body>
    <main>
        <input type="hidden" value="<%=clientTheme%>" id="clientTheme">
        <!-- =================================================================================================================== -->
        <!-- <svg onclick="toggleNightMode()" id="topDarkMode" width="105" height="94" viewBox="0 0 105 94" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path class="topDarkModeBack"
                d="M105 -2H1.19589C0.398343 2.45521 -0.00160856 6.96257 4.86188e-06 11.4773C4.86188e-06 57.0533 40.3233 94 90.0647 94C95.0686 94.0016 100.064 93.6236 105 92.87V-2Z"
                fill="#2F2E41" />
            <path class="topDarkModeLogo"
                d="M58.1804 46.3716C56.5202 46.373 54.8733 46.0745 53.3183 45.4902C53.2293 45.4567 53.1478 45.406 53.0784 45.3409C53.009 45.2757 52.953 45.1975 52.9137 45.1106C52.8743 45.0238 52.8524 44.93 52.8492 44.8346C52.8459 44.7393 52.8614 44.6442 52.8948 44.5548C52.9281 44.4655 52.9786 44.3836 53.0435 44.3139C53.1083 44.2441 53.1862 44.1879 53.2727 44.1484C53.3592 44.1089 53.4525 44.0869 53.5475 44.0836C53.6424 44.0804 53.7371 44.0959 53.826 44.1294C55.8875 44.8947 58.1122 45.1067 60.2802 44.7443C62.4482 44.3819 64.4845 43.4578 66.1882 42.0631C60.8737 42.1199 55.6754 39.5972 53.0892 35.5493C51.4266 32.9472 50.883 29.8852 51.5168 26.6942C52.002 24.3803 52.9983 22.2053 54.432 20.3297C51.6946 21.2046 49.3387 22.996 47.7578 25.4051C46.1768 27.8142 45.4663 30.695 45.745 33.5668C45.7547 33.6619 45.7456 33.758 45.7182 33.8496C45.6909 33.9412 45.6458 34.0265 45.5856 34.1006C45.5253 34.1746 45.4511 34.236 45.3672 34.2812C45.2833 34.3264 45.1914 34.3545 45.0966 34.364C45.0019 34.3734 44.9062 34.364 44.8151 34.3362C44.724 34.3084 44.6393 34.2628 44.5657 34.2021C44.4922 34.1413 44.4313 34.0666 44.3866 33.9822C44.3419 33.8978 44.3142 33.8053 44.3051 33.7101C43.9537 30.0971 45.0073 26.4875 47.2453 23.637C49.4834 20.7866 52.7325 18.9161 56.3124 18.4172C56.4621 18.3962 56.6145 18.4229 56.7483 18.4935C56.8821 18.564 56.9906 18.6749 57.0585 18.8105C57.1263 18.9462 57.1502 19.0997 57.1267 19.2497C57.1032 19.3996 57.0336 19.5384 56.9275 19.6466C53.2274 23.4216 50.9819 29.5602 54.3067 34.7645C56.9299 38.8699 62.574 41.218 68.035 40.4758C68.1815 40.4559 68.3305 40.4816 68.462 40.5493C68.5936 40.6171 68.7013 40.7237 68.7707 40.8548C68.8401 40.9859 68.8679 41.1352 68.8502 41.2826C68.8326 41.43 68.7703 41.5685 68.672 41.6793C67.3497 43.1581 65.7319 44.3402 63.9241 45.1487C62.1164 45.9572 60.1592 46.3739 58.1804 46.3716Z"
                fill="#6C63FF" />
            <path class="topDarkModeLogo"
                d="M46.6421 46.6602C45.5928 46.6602 44.5671 46.3477 43.6946 45.7621C42.8222 45.1766 42.1422 44.3444 41.7406 43.3707C41.3391 42.397 41.234 41.3255 41.4387 40.2919C41.6434 39.2582 42.1487 38.3087 42.8907 37.5634C43.6326 36.8182 44.5779 36.3107 45.6071 36.1051C46.6362 35.8995 47.7029 36.005 48.6723 36.4083C49.6417 36.8116 50.4703 37.4946 51.0532 38.3709C51.6362 39.2473 51.9473 40.2775 51.9473 41.3314C51.9457 42.7442 51.3863 44.0987 50.3917 45.0977C49.3971 46.0967 48.0486 46.6586 46.6421 46.6602ZM46.6421 37.456C45.8789 37.456 45.133 37.6833 44.4985 38.1091C43.864 38.535 43.3694 39.1402 43.0774 39.8484C42.7854 40.5565 42.7089 41.3357 42.8578 42.0875C43.0067 42.8393 43.3742 43.5298 43.9138 44.0718C44.4534 44.6138 45.1409 44.9829 45.8893 45.1324C46.6378 45.282 47.4136 45.2052 48.1186 44.9119C48.8236 44.6186 49.4262 44.1218 49.8502 43.4845C50.2741 42.8472 50.5004 42.0979 50.5004 41.3314C50.4993 40.304 50.0924 39.3189 49.369 38.5924C48.6457 37.8658 47.665 37.4572 46.6421 37.456Z"
                fill="#6C63FF" />
        </svg> -->
        <!-- ================================================================================================================================ -->
        <div id="showBigImage" class="showBigImage" onclick="hideBigImage()">

        </div>

        <div class="nav">

            <div class="logoContainner" id="logoContainner">
                <!-- <svg class="logoBox" width="1109" height="334" viewBox="0 0 1109 334" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <line id="Line" x1="474.685" y1="333.279" x2="656.685" y2="1.27896" stroke="black"
                        stroke-width="3" />
                    <path id="logo" fill-rule="evenodd" clip-rule="evenodd"
                        d="M585.484 130.223L612.484 82.8079V165.5L703.469 64.25H736.094L655.516 154.672L742.422 269H710.078L637.516 173.797L612.484 199.812V269H585.484V130.223ZM27.7656 199.812L52.7969 173.797L125.359 269H157.703L70.7969 154.672L151.375 64.25H118.75L27.7656 165.5V64.25H0.765625V269H27.7656V199.812ZM223.234 271.812C242.828 271.812 257.688 265.859 267.812 253.953L268.375 269H293.125V116.844H267.109V227.516C260.547 242.328 247.328 249.734 227.453 249.734C208.703 249.734 199.328 238.203 199.328 215.141V116.844H173.312V215.844C173.406 234.312 177.672 248.281 186.109 257.75C194.641 267.125 207.016 271.812 223.234 271.812ZM393.531 139.203C398.125 139.203 402.391 139.531 406.328 140.188V116C403.703 114.688 399.859 114.031 394.797 114.031C379.141 114.031 367.047 120.828 358.516 134.422L358.094 116.844H332.781V269H358.797V161C364.891 146.469 376.469 139.203 393.531 139.203ZM515.031 252.969C515.311 255.262 515.616 257.346 515.945 259.222L540.625 216.622V163.391C540.25 148.016 535.094 135.969 525.156 127.25C515.219 118.438 501.484 114.031 483.953 114.031C472.891 114.031 462.719 116.094 453.438 120.219C444.25 124.344 436.938 129.969 431.5 137.094C426.156 144.125 423.484 151.438 423.484 159.031H449.641C449.641 152.375 452.781 146.703 459.062 142.016C465.344 137.328 473.125 134.984 482.406 134.984C493 134.984 501.016 137.703 506.453 143.141C511.891 148.484 514.609 155.703 514.609 164.797V176.75H489.297C467.453 176.75 450.484 181.156 438.391 189.969C426.391 198.688 420.391 210.969 420.391 226.812C420.391 239.844 425.172 250.625 434.734 259.156C444.391 267.594 456.719 271.812 471.719 271.812C488.5 271.812 502.938 265.531 515.031 252.969ZM498.719 242.844C491.406 247.062 483.672 249.172 475.516 249.172C466.984 249.172 460 246.875 454.562 242.281C449.125 237.688 446.406 231.312 446.406 223.156C446.406 204.5 462.344 195.172 494.219 195.172H514.609V226.391C511.328 233.141 506.031 238.625 498.719 242.844ZM852.25 252.969C853.188 260.656 854.406 266 855.906 269H883.188V266.75C879.625 258.5 877.844 247.391 877.844 233.422V163.391C877.469 148.016 872.312 135.969 862.375 127.25C852.438 118.438 838.703 114.031 821.172 114.031C810.109 114.031 799.938 116.094 790.656 120.219C781.469 124.344 774.156 129.969 768.719 137.094C763.375 144.125 760.703 151.438 760.703 159.031H786.859C786.859 152.375 790 146.703 796.281 142.016C802.562 137.328 810.344 134.984 819.625 134.984C830.219 134.984 838.234 137.703 843.672 143.141C849.109 148.484 851.828 155.703 851.828 164.797V176.75H826.516C804.672 176.75 787.703 181.156 775.609 189.969C763.609 198.688 757.609 210.969 757.609 226.812C757.609 239.844 762.391 250.625 771.953 259.156C781.609 267.594 793.938 271.812 808.938 271.812C825.719 271.812 840.156 265.531 852.25 252.969ZM835.938 242.844C828.625 247.062 820.891 249.172 812.734 249.172C804.203 249.172 797.219 246.875 791.781 242.281C786.344 237.688 783.625 231.312 783.625 223.156C783.625 204.5 799.562 195.172 831.438 195.172H851.828V226.391C848.547 233.141 843.25 238.625 835.938 242.844ZM944.078 135.969L943.234 116.844H918.625V269H944.641V160.578C948.203 153.266 953.172 147.359 959.547 142.859C965.922 138.359 973.328 136.109 981.766 136.109C992.172 136.109 999.812 138.734 1004.69 143.984C1009.66 149.234 1012.19 157.344 1012.28 168.312V269H1038.3V168.453C1038.02 132.172 1021.8 114.031 989.641 114.031C970.891 114.031 955.703 121.344 944.078 135.969ZM1079.78 269H1105.8V116.844H1079.78V269Z"
                        fill="black" />
                    <ellipse id="ball" cx="1093.5" cy="85" rx="15.5" ry="17" fill="black" />
                </svg> -->
                <svg class="logoBox" width="272" height="70" viewBox="0 0 272 70" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g id="kuraSuText">
                        <path class="logoText" id="logoText" stroke="black" stroke-width="3"
                            d="M0.84375 68V2.375H7.21875V68H0.84375ZM11.25 36.0312L33.8438 2.375H40.875L18.375 36.0312L41.25 68H34.2188L11.25 36.0312ZM46.5 54.7812V18.3125H52.7812V54.0312C52.7812 56.4062 54 58.5 56.4375 60.3125C58.3125 61.625 60.3438 62.2812 62.5312 62.2812V68.4688C56.5312 68.4688 51.9688 66.1562 48.8438 61.5312C47.2812 59.1562 46.5 56.9062 46.5 54.7812ZM66.5625 68.4688V62.2812C70.25 62.2812 73.0625 60.8125 75 57.875C75.8125 56.5625 76.2188 55.2812 76.2188 54.0312V18.3125H82.5V54.7812C82.5 57.5938 81.2188 60.4062 78.6562 63.2188C75.4062 66.6562 71.375 68.4062 66.5625 68.4688ZM90 68V18.2188H96.2812V25.625C97.5938 22.9375 99.7812 20.875 102.844 19.4375C104.719 18.5625 106.656 18.125 108.656 18.125H109.688L108.188 24.125C104.875 24.1875 101.938 26.0625 99.375 29.75C97.3125 32.8125 96.2812 35.9688 96.2812 39.2188V68H90ZM114.656 56.375C114.656 59.75 116.312 62.625 119.625 65C122.438 66.9375 125.75 67.9062 129.562 67.9062V62.0938C124.5 62.0938 121.5 60.375 120.562 56.9375C120.375 56.25 120.281 55.5625 120.281 54.875V51.875C120.344 50.4375 120.719 49.375 121.406 48.6875C122.344 47.75 126.062 46.5312 132.562 45.0312C137.812 43.7812 141.312 42.7188 143.062 41.8438V53.6562C143.062 58.8438 140.469 61.625 135.281 62C134.844 62.0625 134.438 62.0938 134.062 62.0938V67.9062C138.5 67.9062 141.969 66.8438 144.469 64.7188C144.531 64.6562 144.594 64.5938 144.656 64.5312C146.406 66.7812 148.719 67.9062 151.594 67.9062V62C150.031 61.875 149.219 60.8438 149.156 58.9062V32.6562C149.156 28.4688 147.594 24.9062 144.469 21.9688C141.656 19.3438 138.188 18.0312 134.062 18.0312V23.6562C137.062 23.6562 139.469 24.9062 141.281 27.4062C142.406 28.9688 142.969 30.75 142.969 32.75V34.4375C143.031 36 139.25 37.75 131.625 39.6875C124.5 41.5 120.406 42.6875 119.344 43.25C116.281 45 114.719 47.9062 114.656 51.9688V56.375ZM115.312 30.5L120.844 32.6562C120.844 29.0938 122.375 26.5 125.438 24.875C126.75 24.1875 128.156 23.8438 129.656 23.8438V18.0312C125.406 18.0312 121.781 19.5312 118.781 22.5312C116.406 24.9062 115.25 27.5625 115.312 30.5ZM187.969 53.1875L193.781 51.125C194.094 53.0625 194.719 54.75 195.656 56.1875C196.594 57.625 197.594 58.7188 198.656 59.4688C199.781 60.2188 200.844 60.8438 201.844 61.3438C202.906 61.7812 203.781 62.0625 204.469 62.1875L205.5 62.2812V68.2812C199.875 68.2812 195.188 65.9062 191.438 61.1562C189.188 58.2812 188.031 55.625 187.969 53.1875ZM188.719 20C188.719 13.375 191.625 8.34375 197.438 4.90625C200.312 3.21875 203 2.375 205.5 2.375V8.375C203.25 8.5 201.031 9.5625 198.844 11.5625C196.344 13.9375 195.062 16.8438 195 20.2812C195 24.5312 198.062 27.6562 204.188 29.6562C205.75 30.1562 208.094 30.75 211.219 31.4375C214.156 32.125 216.188 32.6562 217.312 33.0312C222.875 35.0312 226.469 37.9688 228.094 41.8438C228.906 43.8438 229.312 46.1562 229.312 48.7812C229.312 54.2188 227.219 58.9375 223.031 62.9375C219.219 66.5 214.875 68.2812 210 68.2812V62.2812C212.625 62.2188 215.344 60.9688 218.156 58.5312C221.281 55.7188 222.875 52.4062 222.938 48.5938C222.938 43.7188 219.625 40.2812 213 38.2812C211.5 37.8438 209.25 37.3125 206.25 36.6875C203.188 36.0625 201.188 35.5625 200.25 35.1875C195.062 33.125 191.688 30.4688 190.125 27.2188C189.188 25.1562 188.719 22.75 188.719 20ZM210 8.375V2.375C215.5 2.375 220.094 4.875 223.781 9.875C225.469 12.1875 226.438 14.2812 226.688 16.1562L220.688 18.125C220.312 16.4375 219.656 14.9375 218.719 13.625C217.844 12.3125 216.906 11.3438 215.906 10.7188C214.969 10.0938 214.031 9.59375 213.094 9.21875C212.219 8.78125 211.5 8.53125 210.938 8.46875L210 8.375ZM235.406 54.7812V18.3125H241.688V54.0312C241.688 56.4062 242.906 58.5 245.344 60.3125C247.219 61.625 249.25 62.2812 251.438 62.2812V68.4688C245.438 68.4688 240.875 66.1562 237.75 61.5312C236.188 59.1562 235.406 56.9062 235.406 54.7812ZM255.469 68.4688V62.2812C259.156 62.2812 261.969 60.8125 263.906 57.875C264.719 56.5625 265.125 55.2812 265.125 54.0312V18.3125H271.406V54.7812C271.406 57.5938 270.125 60.4062 267.562 63.2188C264.312 66.6562 260.281 68.4062 255.469 68.4688Z"
                            fill="lime" />
                        <path d="M159 69.5L175.406 0.21875H181.406L165.094 69.5H159Z" fill="#FE005B" />
                    </g>
                </svg>




            </div>
            <div class="navLinks">

                <div class="onlineListLink" onclick="showOnlineList()">
                    Online List
                </div>
                <div class="roomListLink" onclick="showRoomList()">
                    Menu
                </div>
                <div onclick="showList()" class="menuTrigger" id="menuTrigger">
                    <svg class="menuIcon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                        style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M362.667,362.667H149.333
                        c-11.797,0-21.333-9.557-21.333-21.333c0-11.776,9.536-21.333,21.333-21.333h213.333c11.797,0,21.333,9.557,21.333,21.333
                        C384,353.109,374.464,362.667,362.667,362.667z M362.667,277.333H149.333C137.536,277.333,128,267.776,128,256
                        s9.536-21.333,21.333-21.333h213.333c11.797,0,21.333,9.557,21.333,21.333S374.464,277.333,362.667,277.333z M362.667,192H149.333
                        C137.536,192,128,182.443,128,170.667s9.536-21.333,21.333-21.333h213.333c11.797,0,21.333,9.557,21.333,21.333
                        S374.464,192,362.667,192z" />
                            </g>
                        </g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                    </svg>
                </div>
            </div>
        </div>

        <div class="mainBox">
            <div class="chatBox" id="chatBox">

                <div class="messageBox">

                    <div class="message-box global" id="chatBox-global">

                    </div>
                </div>
                <div class="inputBox" id="inputBox">
                    <div class="input">
                        <form action="" id="chat-form" class="form">
                            <input type="hidden" value="<%=userId %>" id="userId" />
                            <input type="hidden" value="<%=User %>" id="User" />
                            <input type="hidden" value="global" id="socketId" />
                            <input type="hidden" value="/ProfilePic/<%=imageUrl %>" id="imageUrl" />
                            <input type="text" id="msg" form="chat-form" placeholder="Type something here" autofocus
                                autocomplete="off" class="msg">

                            <div class="usersTyping" id="usersTyping">...</div>

                            <button style="visibility: hidden;" type="submit" id="send-button">
                                Send
                            </button>
                        </form>
                    </div>
                    <div class="inputOthers">
                        <div class="inputOption">
                            <!-- <img src="/smiley-face.png" height="30px" width="30px" id="emoji-trigger" onmouseover="this.src='/smiley-face2.png'" onmouseout="this.src='/smiley-face.png'"> -->
                            <h1 id="emoji-trigger"> 😋<h2>
                        </div>
                        <div class="inputOption">
                            <i id="addPhotoIcon" class="material-icons icons" onclick="getFile()">add_a_photo</i>
                            <div style="display: none;"> <input type="file" id="chooseImage" accept="image/*"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sideMenu" id="sideMenu">
                <div class="navLinks2" id="navLinks2">
                    <div class="navs2">
                        <div class="onlineListLink2" onclick="showOnlineList()">
                            Online List
                        </div>
                        <div class="roomListLink2" onclick="showRoomList()">
                            Menu
                        </div>

                    </div>
                </div>
                <div class="onlineList" id="onlineList">

                </div>
                <div class="roomList" id="roomList">
                    <div class="userInfo" id="userInfo">

                        <div class="UserContainer">

                            <div class="userImage">
                                <img src="/ProfilePic/<%=imageUrl %>">
                            </div>
                            <br>
                        </div>
                        <div class="userMiniContainner">
                            <div class="userUsername">
                                <%=User %>
                            </div>

                            <i class="material-icons userSettings" style="font-size: 26px;"
                                onclick="openSettings()">settings</i>



                            <a href="/logout">
                                <div class="logout">
                                    <i class="material-icons" style="font-size:26px">exit_to_app</i>


                                </div>
                            </a>


                        </div>


                    </div>
                    <div class="onlineUser" id="onlineUser"
                        onclick="dmClick('global', '/globalchat.png', 'Global Chat')">
                        <img style="border-radius: 50%; margin-right: 10px;" src='/globalchat.png' height="30px"
                            width="30px">Global Chat<br>
                    </div>

                </div>
            </div>


        </div>


        </div>

        </div>


        <div class="confirmUpload" id="confirmUpload">
            <div class="imageName" id="imageName">Do you want to Upload?</div>
            <div class="imgMsg"> <textarea name="msgWithImg" id="msgWithImg" cols="30" rows="2"
                    placeholder="Send message..." autofocus></textarea> </div>
            <div class="uploadYesNo">

                <div class="uploadNo">
                    Cancel
                </div>
                <div class="uploadYes">
                    Upload
                </div>
            </div>
        </div>
    </main>

    <audio id="messageSound">
        <source src="/stairs.ogg" type="audio/ogg">
        <source src="/stairs.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div class="topNotify" id="topNotify">
        <div class="topNotify-pfp">
            <img src="/ProfilePic/default" alt="" id="topNotify-pfp">
        </div>
        <div class="topNotify-info" id="topNotify-info">
            <div class="topNotify-username" id="topNotify-username">
                username
            </div>
            <div class="topNotify-message" id="topNotify-message">
                this is the message....wd sha384- dwdawdwadw fwfawdawdwad wdwa dwda awdaw aw awdawd awdaw awdawd a
            </div>
        </div>
    </div>

    <div class="showUserBox" id="showuserBox" onclick="hideShowUserBox()">
        <div class="showUserDetails">
            <div class="showUserDetails-pfp">
                <img src="/ProfilePic/7d30cf3ca1958631421617939d1f7b0e" alt="" width="230px" height="230px">
            </div>
            <div class="showUserDetails-desc">
                <h3 class="showUserDetails-username">Subu</h3>

                <button class="DmButton">Dm</button>
            </div>
        </div>
    </div>


    <!-- ======================================= settings ===============-->

    <div class="settings">
        <div class="settingContainner">
            <div class="settingTitle">
                Settings
            </div>
            <hr style="border-top: 1px solid rgb(175, 175, 175); width: 95%;" class="setting-hr">
            <div class=" setting settingSelected profileSetting" onclick="showProfileSetting(this)">
                Profile
            </div>
            <div class="setting themeSetting" onclick="showThemeSetting(this)">
                Themes
            </div>
        </div>
        <div class="subSettings">
            <div class="closeSettingContainner">
                <div class="closeSetting" onclick="closeSettings()"></div>
            </div>

            <div class="subSetting">
                <div class="settProfile">
                    <img src="/ProfilePic/<%=imageUrl%>" onerror="this.src='/ProfilePic/default';">
                    <h2>
                        <%=User%>
                    </h2>
                    <br>
                    <div class="editProfileBox">
                        <h4>Edit</h4>
                        <div class="editProfile editProfilePic">
                            Change Profile Picture
                            <div class="hidden">
                                <input type="file" id="chooseImage" accept="image/*" name="avatar">
                            </div>
                            <br>
                            <center>
                                <img id="profilePic2"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU"
                                    height="100px" width="100px" onclick="chooseNewProfilePicture()">
                                <br>
                            </center>
                        </div>
                        <div class="editProfile">
                            Change Username
                            <input type="text" value="<%=User%>" class="msg">

                        </div>
                        <center>
                            <button class="saveProfile">Save</button>
                        </center>


                    </div>
                </div>
                <div class="themeContent">
                    <div class="themes">
                        <div class="theme" onclick="LightTheme()" id="whiteTheme">
                            <img src="/lightmode.jpg" alt="" height="100px" width="190px">

                            <div class="themeTitle">
                                Light
                            </div>
                        </div>
                        <div class="theme" onclick="DarkTheme()" id="darkTheme">
                            <img src="/darkmode.jpg" alt="" height="100px" width="190px">

                            <div class="themeTitle">
                                Dark
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h4>Custom Color Picker</h4>
                    <input type="color" class="colorPicker">
                    <br>
                    <hr>
                    <h4>Text Color</h4>
                    <div class="blackBox colorBox" onclick="textColorBlack()"></div>
                    <div class="whiteBox colorBox" onclick="textColorWhite()"></div>
                </div>
            </div>
        </div>


    </div>


    <!-- ============================================================================================================= -->
    <script>
        setTimeout(() => {
            document.getElementById('preLoaderDiv').style.display = 'none';
        }, 1);


    </script>


    <script>
        function showRoomList() {
            document.getElementById('onlineList').style.display = 'none';
            document.getElementById('roomList').style.display = 'block';

        }
        function showOnlineList() {
            document.getElementById('onlineList').style.display = 'block';
            document.getElementById('roomList').style.display = 'none';
        }
    </script>


    <!-- // ============================================================================================================================ -->


    <script src="https://cdn.jsdelivr.net/npm/emoji-button@latest/dist/index.min.js"></script>
    <script>
        const picker = new EmojiButton({
            position: 'top-start'

        });
        const trigger = document.querySelector('#emoji-trigger');

        picker.on('emoji', selection => {
            // handle the selected emoji here
            document.getElementById('msg').value += selection;
            document.getElementById('msg').focus();
        });

        trigger.addEventListener('click', function () {
            picker.pickerVisible ? picker.hidePicker() : picker.showPicker(trigger)
        });

    </script>
    <script>
        function getFile() {
            document.getElementById("chooseImage").click();
        }
    </script>


    <!-- ============================================================================================ -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/menuTrigger.js"></script>
    <script src="/js/setting.js"></script>
    <script src="/js/theme.js"></script>

    <!-- <script src="/js/emojionearea.min.js"></script> -->



</body>

</html>